body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f3;
  }
  a {
    text-decoration: none;
  }
  .sign_form {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    border: 1px solid #999;
  }
  .sign_form h1 {
    text-align: center;
    padding: 20px 0 40px 0;
  }
  .sign_form form {
    padding: 0 60px;
    box-sizing: border-box;
  }
  .text_sign {
    position: relative;
    margin: 30px 0;
    border-bottom: 1px solid #adadad;
  }
  .text_sign input {
    width: 100%;
    height: 40px;
    font-size: 17px;
    border: none;
    outline: none;
  }
  .text_sign label {
    font-size: 12px;
    margin: 40px 0 0;
    padding: 0 3px;
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    font-size: 17px;
    outline: none;
    border: none;
    background-color: lightgray;
  }
  input[type="submit"]:hover {
    background-color: light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  }
  